<!DOCTYPE html>
<html>
<head>
    <title>Library Management System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">
    <h1>📚 Library Management System</h1>

    <div class="form-box">
        <input type="text" id="title" placeholder="Book Title">
        <input type="text" id="author" placeholder="Author">
        <button onclick="addBook()">Add Book</button>
    </div>

    <h2>Book List</h2>
    <div id="bookList"></div>
</div>

<script src="/static/script.js"></script>
</body>
</html>
